{% extends "Header.j2" %}
{% block body %}
	{% from "Components/EventList.j2" import EventList %}
	{% from "Components/OptionList.j2" import OptionList %}

	<title>
		Home
	</title>

	<h3
	  style="padding:8px"
	>
		{{ home["name"] }}
	</h3>

	<div
	  class="accordion"
	  id="accordionExample"
	>
		<div
		  class="accordion-item"
		>
			<h2
			  class="accordion-header"
			>
				<button
				  class="accordion-button"
				  type="button"
				  data-bs-toggle="collapse"
				  data-bs-target="#collapseOne"
				  aria-expanded="true"
				  aria-controls="collapseOne"
				>
					Home's Rooms
				</button>
			</h2>
			<div
			  id="collapseOne"
			  class="accordion-collapse collapse show"
			  data-bs-parent="#accordionExample"
			>
				<div
				  class="accordion-body"
				>
					<table
					  class="table table-dark table-striped"
					>
						<tbody>
							{% for id, name in home["Rooms"].items() %}
								<tr>
									<td>
										<a
										  href="/rooms/{{ id }}"
										>
											{{ name }}
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div
		  class="accordion-item"
		>
			<h2
			  class="accordion-header"
			>
				<button
				  class="accordion-button collapsed"
				  type="button"
				  data-bs-toggle="collapse"
				  data-bs-target="#collapseTwo"
				  aria-expanded="false"
				  aria-controls="collapseTwo"
				>
					Home's Events
				</button>
			</h2>
			<div
			  id="collapseTwo"
			  class="accordion-collapse collapse"
			  data-bs-parent="#accordionExample"
			>
				<div
				  class="accordion-body"
				>
					{{ EventList(home["HomeEvents"], "Home Events") }}
				</div>
			</div>
		</div>
		<div
		  class="accordion-item"
		>
			<h2
			  class="accordion-header"
			>
				<button
				  class="accordion-button collapsed"
				  type="button"
				  data-bs-toggle="collapse"
				  data-bs-target="#collapseThree"
				  aria-expanded="false"
				  aria-controls="collapseThree"
				>
					Home's Options
				</button>
			</h2>
			<div
			  id="collapseThree"
			  class="accordion-collapse collapse"
			  data-bs-parent="#accordionExample"
			>
				<div
				  class="accordion-body"
				>
					{{ OptionList(home["HomeOptions"], "Home Options") }}					
				</div>
			</div>
		</div>
	</div>
{% endblock %}
