

<html>
	<head>
		<link rel='icon' href='{{ url_for("static", filename="Media/Images/CurtainBlank.png") }}'>
		<link rel='stylesheet' href='{{ url_for("static", filename="Libraries/Bootstrap/bootstrap.min.css") }}'>
		<link rel='stylesheet' href='{{ url_for("static", filename="Style.css") }}'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type='text/javascript' src='{{ url_for("static", filename="Libraries/Google/jquery.min.js") }}'></script>
		<script type='text/javascript' src='{{ url_for("static", filename="Libraries/Bootstrap/bootstrap.bundle.min.js") }}'></script>
	</head>
	<nav
	  class="navbar navbar-expand-md bg-body-secondary"
	>
		<div
		  class="container-fluid"
		>
			<a
			  class="navbar-brand"
			  href="/"
			>
				Smart Curtain
			</a>
			<button
			  class="navbar-toggler"
			  type="button"
			  data-bs-toggle="collapse"
			  data-bs-target="#navbarNavAltMarkup"
			  aria-controls="navbarNavAltMarkup"
			  aria-expanded="false"
			  aria-label="Toggle navigation"
			>
				<span
				  class="navbar-toggler-icon"
				></span>
			</button>
			<div
			  class="collapse navbar-collapse"
			  id="navbarNavAltMarkup"
			>
				<div
				  class="navbar-nav"
				>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							{% for area in path %}
								{% if loop.index == path | length %}
									<li
									  class="breadcrumb-item active"
									  aria-current="page"
									>
										{{ area["name"] }}
									</li>
								{% else %}
									<li
									  class="breadcrumb-item"
									>
										<a
										  href="/{{ ["homes", "rooms", "curtains"][loop.index0] }}/{{ area["id"] }}"
										>
											{{ area["name"] }}
										</a>
									</li>
								{% endif %}
							{% endfor %}
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</nav>

	<title>
		{{ title }}
	</title>

	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>

<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	});


	function html_to_element(html)
	{
		return document.createRange().createContextualFragment(html);
	}
</script>