
<!----------------------------------------------------------------------------------------------------------------------
-                                                                                                                      -
-    Created by: MPZinke on 2023.01.22                                                                                 -
-                                                                                                                      -
-    DESCRIPTION:                                                                                                      -
-    BUGS:                                                                                                             -
-    FUTURE:                                                                                                           -
-                                                                                                                      -
----------------------------------------------------------------------------------------------------------------------->


{% extends "Header.j2" %}
{% block body %}
	<title>
		Homes
	</title>
	<h3
	  style="padding-top: 8px;"
	>
		Homes
	</h3>
	<table
	  class="table table-dark table-striped"
	>
		<thead>
			<tr>
				<th>
					Home
				</th>
			</tr>
		</thead>
		<tbody>
			{% for id, name in homes.items() %}
				<tr>
					<td>
						<a
						  href="/homes/{{ id }}"
						>
							{{ name }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
