
{% macro event_list(event_list, event_name) %}
	<h4>
		{{ event_name }}
	</h4>
	<table
	  class="table table-dark table-striped"
	>
		<thead>
			<tr>
				<th>
					Time
				</th>
				<th>
					Percentage
				</th>
				<th>
					Option
				</th>
			</tr>
		</thead>
		<tbody>
			{% for event in event_list %}
				<tr>
					<td>
						{{ event["time"] }}
					</td>
					<td>
						{{ event["percentage"] }}
					</td>
					<td>
						{{ event["option"] }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}
