

<script>
	var AreaEvent = {};
	AreaEvent.New = {};
	AreaEvent.New.Modal = {};
	AreaEvent.New.Modal.toggle_datetime = undefined;
	AreaEvent.New.Modal.update_percentage_range = undefined;
	AreaEvent.New.Modal.update_percentage_input = undefined;

	AreaEvent.New.Modal.Inputs = {};
	AreaEvent.New.Modal.Inputs.PERCENTAGE_RANGE = undefined;
	AreaEvent.New.Modal.Inputs.PERCENTAGE_INPUT = undefined;
	AreaEvent.New.Modal.Inputs.DATE = undefined;
	AreaEvent.New.Modal.Inputs.TIME = undefined;
</script>



<button type="button"
  class="btn btn-primary floating-button"
  data-bs-toggle="modal"
  data-bs-target="#NewEventModal"
  data-bs-title="New Event"
>
	+
</button>

<form
  method="POST"
>
	<div
	  class="modal fade modal-xl"
	  id="NewEventModal"
	  tabindex="-1"
	  aria-labelledby="NewEventModalLabel"
	  aria-hidden="true"
	>
		<div
		  class="modal-dialog"
		>
			<div
			  class="modal-content"
			>
				<div
				  class="modal-header"
				>
					<h1
					  class="modal-title fs-5"
					  id="NewEventModalLabel"
					>
						New Event
					</h1>
					<button type="button"
					  class="btn-close"
					  data-bs-dismiss="modal"
					  aria-label="Close"
					></button>
				</div>

				<div
				  class="modal-body"
				>
					<div
					  class="mb-3"
					>
						<div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1">Event Position</span>

								<div
								  class="input-group-text"
								  style="width: 70%;"
								>
									<input
									  type="range"
									  class="form-range"
									  min="0"
									  max="100"
									  step="1"
									  value="0"
									  id="AreaEvent.New.Modal-percentage_range-input"
									  name="AreaEvent.New.Modal-percentage_range-input"
									  onchange="AreaEvent.New.Modal.update_percentage_input(this);"
									>
								</div>
								<input
								  type="number"
								  class="form-control"
								  min="0"
								  max="100"
								  step="1"
								  value="0"
								  id="AreaEvent.New.Modal-percentage_input-input"
								  onchange="AreaEvent.New.Modal.update_percentage_range(this);"
								>
							</div>
						</div>

						<div
						  class="input-group mb-3"
						>
							<span
							  class="input-group-text"
							>
								Select Time
							</span>
							<div
							  class="input-group-text"
							>
								<input
								  id="AreaEvent.New.Modal-select_time-checkbox"
								  name="AreaEvent.New.Modal-select_time-checkbox"
								  class="form-check-input mt-0"
								  type="checkbox"
								  value=""
								  onclick="AreaEvent.New.Modal.toggle_datetime(this);"
								  aria-label="Checkbox for following text input"
								>
							</div>
							<span
							  class="input-group-text"
							>
								Date
							</span>
							<input
							  id="AreaEvent.New.Modal-date-input"
							  name="AreaEvent.New.Modal-date-input"
							  value="2023-09-22"
							  type="date"
							  aria-label="Date"
							  class="form-control"
							  disabled
							>
							<span
							  class="input-group-text"
							>
								Time
							</span>
							<input
							  id="AreaEvent.New.Modal-time-input"
							  name="AreaEvent.New.Modal-time-input"
							  type="text"
							  aria-label="Time"
							  class="form-control"
							  disabled
							>
						</div>
					</div>
				</div>

				<div
				  class="modal-footer"
				>
					<button
					  type="button"
					  class="btn btn-secondary"
					  data-bs-dismiss="modal"
					>
						Cancel
					</button>
					<button
					  type="submit"
					  class="btn btn-primary"
					>
						Create Event
					</button>
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	AreaEvent.New.Modal.Inputs.PERCENTAGE_RANGE = document.getElementById("AreaEvent.New.Modal-percentage_range-input");
	AreaEvent.New.Modal.Inputs.PERCENTAGE_INPUT = document.getElementById("AreaEvent.New.Modal-percentage_input-input");
	AreaEvent.New.Modal.Inputs.DATE = document.getElementById("AreaEvent.New.Modal-date-input");
	AreaEvent.New.Modal.Inputs.TIME = document.getElementById("AreaEvent.New.Modal-time-input");


	AreaEvent.New.Modal.toggle_datetime = function toggle_datetime(checkbox)
	/*
	SUMMARY: Enable and disables the date and time fields of the modal.
	PARAMS:  Takes the item that is toggling the date and time fields.
	*/
	{
		const disable_inputs = checkbox.checked === false;

		AreaEvent.New.Modal.Inputs.DATE.disabled = disable_inputs;
		AreaEvent.New.Modal.Inputs.TIME.disabled = disable_inputs;
	}


	AreaEvent.New.Modal.update_percentage_range = function update_percentage_range(input)
	{
		AreaEvent.New.Modal.Inputs.PERCENTAGE_INPUT.value = Math.floor(AreaEvent.New.Modal.Inputs.PERCENTAGE_INPUT.value);
		if(AreaEvent.New.Modal.Inputs.PERCENTAGE_INPUT.value > 100)
		{
			AreaEvent.New.Modal.Inputs.PERCENTAGE_INPUT.value = 100;
		}
		if(AreaEvent.New.Modal.Inputs.PERCENTAGE_INPUT.value < 0)
		{
			AreaEvent.New.Modal.Inputs.PERCENTAGE_INPUT.value = 0;
		}
		AreaEvent.New.Modal.Inputs.PERCENTAGE_RANGE.value = AreaEvent.New.Modal.Inputs.PERCENTAGE_INPUT.value;
	}


	AreaEvent.New.Modal.update_percentage_input = function update_percentage_input(range)
	{
		AreaEvent.New.Modal.Inputs.PERCENTAGE_INPUT.value = AreaEvent.New.Modal.Inputs.PERCENTAGE_RANGE.value;
	}
</script>
