
{% macro OptionList(option_list, option_name) %}
	<div>
		<table
		  class="table table-dark table-striped"
		>
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						Is On
					</th>
					<th>
						Data
					</th>
					<th>
						Description
					</th>
				</tr>
			</thead>
			<tbody>
				{% for option in option_list %}
					<tr>
						<td>
							{{ option["Option"]["name"] }}
						</td>
						<td>
							{{ option["is_on"] }}
						</td>
						<td>
							{{ option["data"] }}
						</td>
						<td>
							{{ option["Option"]["description"] }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endmacro %}
