[Unit]
Description=Main Smart Curtain Manager
After=mariadb.service

[Service]
ExecStart=/usr/bin/python3 /usr/SmartCurtain/Server.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=SmartCurtain_Server
User=pi
Group=pi

[Install]
WantedBy=multi-user.target