[Unit]
Description=Main Smart Curtain Manager
After=mariadb.service

[Service]
ExecStart=sudo /usr/bin/python3 /usr/SmartCurtain/Hub/Program/SmartCurtain.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=SmartCurtain_Manager
User=pi
Group=pi

[Install]
WantedBy=multi-user.target