[Unit]
Description=Main Smart Curtain Manager
After=mariadb.service

[Service]
Environment=ADAFRUIT_IO_USERNAME=<POPULATE>
Environment=ADAFRUIT_IO_KEY=<POPULATE>
ExecStart=sudo -E /usr/bin/python3 /usr/local/SmartCurtain/Hub/Backend/Backend.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=SmartCurtain_Manager
User=pi
Group=pi

[Install]
WantedBy=multi-user.target