
<!----------------------------------------------------------------------------------------------------------------------
-                                                                                                                      -
-    Created by: MPZinke on 2021.10.08                                                                                 -
-                                                                                                                      -
-    DESCRIPTION:                                                                                                      -
-    BUGS:                                                                                                             -
-    FUTURE:                                                                                                           -
-                                                                                                                      -
----------------------------------------------------------------------------------------------------------------------->


{# [/edit] #}
{% extends "Dependencies/Wrapper.html" %}
{% block body %}

<title>Edit Curtain Values for {{ header.selected_curtain().name() }}</title>

<table>
	<tr>
		<th>Variable</th>
		<th>Value</th>
	</tr>

	<tr>
		<td>
			Safety
		</td>
		<td>
			<select onchange='update_value(this, "Curtains", "is_safe");'>
				<option value='1'>
					ON
				</option>
				<option value='0'>
					OFF
				</option>
			</select>
		</td>
	</tr>

	<!-- TODO: finish variables/options -->

</table>

<script>

	// AJAX call to API to update the column of a table for the value of an element.
	function update_value(element, table, column)
	{
		var value = element.value;
	}
</script>

{% endblock %}