{# [/ || /index] #}
{% extends "Dependencies/Wrapper.html" %}
{% block body %}

<title>{{ header.selected_curtain().name() }}</title>
<div style='width:100%; padding-top:32px; margin:auto;'>
	<div>
		<button onclick="toggle_delete();" type="button" class="btn btn-primary">Edit</button>
	</div>
	<table class='alternate table' style='margin-top:20px;width:100%;' width='100%'>
		<tr width='100%'>
			<th width='50%' align='center'>
				Time
			</th>
			<th width='50%' align='center'>
				Position
			</th>
		</tr>

		<!-- TODO: allow for editing events -->
		{% for event in header.selected_curtain().CurtainEvents() %}
				<tr width='100%' align='center'>
					<td width='50%' align='center'>
						{{ header.datetime_to_datetext(header.selected_curtain().CurtainEvents()[event].time()) }}
						at
						{{ header.datetime_to_timetext(header.selected_curtain().CurtainEvents()[event].time()) }}
					</td>
					<td width='50%' align='center'>
						{{ header.selected_curtain().CurtainEvents()[event].desired_position() }}
					</td>
					<td class="__td__delete" hidden>
						<button onclick="delete_event({{ event }});"
						  class="btn btn-danger">
							Delete
						</button>
					</td>
				</tr>
				<tr>
				</tr>
		{% endfor %}
	</table>
</div>

<script>

	function toggle_delete()
	{
		var button_tds = $(".__td__delete");
		for(var x = 0; x < button_tds.length; x++)
		{
			console.log(button_tds[x].hidden);
			button_tds[x].hidden = !button_tds[x].hidden;
		}
	}


	function delete_event(event_id)
	{
		var event_input = document.createElement("input");
		event_input.setAttribute("type", "hidden"); 
		event_input.setAttribute("name", "event_id");
		console.log(event_id);
		event_input.setAttribute("value", event_id);

		var form = document.createElement("form");
		form.setAttribute("method", "post");
		form.appendChild(event_input);

		document.body.appendChild(form); // inject the form object into the body section
		form.submit();
	}

</script>

{% endblock %}