{# [/ || /index] #}
{% extends "Dependencies/Wrapper.html" %}
{% block body %}

<title>{{ header.selected_curtain().name() }}</title>
<div style='width:100%; padding-top:32px; margin:auto;'>
	<h1 id='curtain_state_header' style='text-align:center;'>
		Curtain is {{ header.state_string() }}
	</h1>

	<form method='post' onsubmit='check_movement_features();'>
		{% if header.selected_curtain().is_smart() %}
			<div class='input_div' style='width:100%;'>
				<input id='percentage_input' name='percentage_input' class='input' type='number' 
				  min='0' max='100' step='1' value='{{ header.selected_curtain().percentage() }}'
				  onchange='change_slider(this.value);' onkeyup='change_slider(this.value);'/>
			</div>

			<table style='margin-top:20px;width:100%;' width='100%'>
				<tr width='100%'>
					<td width='20%' align='right'>
						<button name='close_button' class='button background_color' style='background-color:inherit;'>Closed</button>
					</td>
					<td width='60%' align='middle'>
						<input id='slider_input' value='{{ header.selected_curtain().percentage() }}'
						  type='range' min='0' max='100'/>
					</td>
					<td width='20%' align='left'>
						<button name='open_button' class='button' style='background-color:inherit;'>Open</button>
					</td>
				</tr>
			</table>

			<button class='button' name='set_button' style='display:block; margin:auto; margin-top:25px;'>
				Set Curtain
			</button>
		{% else %}
			<input id='percentage_input' name='percentage_input' type='number' style='display:none;'
			  value='{{ 0 if header.selected_curtain().percentage() else 100 }}' hidden/>
			<button id='set_button' name='set_button' class='button'
			  style='display:block; margin:auto; margin-top:25px;'>
				{% if header.selected_curtain().percentage() %}
					Close
				{% else %}
					Open
				{% endif %}
			</button>
		{% endif %}

	</form>
</div>

<script>
	function change_slider(value)
	{
		document.getElementById("slider_input").value = value;
	}


	// Checks whether the desired percentage is the current percentage.
	// Gets the desired percentage and known last known percentage. If values are the same, calls a confirm dialog to
	//  see if user wants to call a possibly redundant (SmartCurtain) call or an overriding (DumbCurtain) call.
	function check_movement_features()
	{
		var percentage = __WRAPPER__current_known_percentage;

		{% if header.selected_curtain().is_smart() %}
			var percentage = document.getElementById("percentage_input").value;

			if(percentage != percentage) return true;

			var text =	`Desired percentage ${percentage}% matches current percentage of ${percentage}%\n`
						  + `Please confirm event`;
			return confirm(text);
		{% else %}
			if(percentage) percentage = 0;
			else percentage = 100;
			document.getElementById("percentage_input").value = percentage;
			return true;
		{% endif %}
	}


	function update_curtain_state()
	{
		var color = "rgb(51, 255, 51)";
		if(document.getElementById("__WRAPPER__current_light_td_middle").style["background-color"] == color)
		{
			document.getElementById("curtain_state_header").innerHTML = "Curtain is Moving";
		}
		else if(__WRAPPER__current_known_percentage)
		{
			if(__WRAPPER__current_known_percentage == 100)
			{
				document.getElementById("curtain_state_header").innerHTML = "Curtain is Fully Open";
			}
			else
			{
				document.getElementById("curtain_state_header").innerHTML = "Curtain is Open";
			}
			{% if not header.selected_curtain().is_smart() %}
				document.getElementById("set_button").innerHTML = "Close";
			{% endif %}
		}
		else
		{
			document.getElementById("curtain_state_header").innerHTML = "Curtain is Closed";
			{% if not header.selected_curtain().is_smart() %}
				document.getElementById("set_button").innerHTML = "Open";
			{% endif %}
		}
	}


	{% if header.selected_curtain().is_smart() %}
		// Update the current slider value (each time you drag the slider handle)
		document.getElementById("slider_input").oninput = function()
		{
			document.getElementById("percentage_input").value = this.value;
		}
	{% endif %}


	setInterval(update_curtain_state, 1000);
</script>

{% endblock %}