

<script>
	Curtain.NewEventModal = {};
	Curtain.NewEventModal.toggle_datetime = undefined;
	Curtain.NewEventModal.update_percentage_range = undefined;
	Curtain.NewEventModal.update_percentage_input = undefined;

	Curtain.NewEventModal.Inputs = {};
	Curtain.NewEventModal.Inputs.PERCENTAGE_RANGE = undefined;
	Curtain.NewEventModal.Inputs.PERCENTAGE_INPUT = undefined;
	Curtain.NewEventModal.Inputs.DATE = undefined;
	Curtain.NewEventModal.Inputs.TIME = undefined;
</script>



<button type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
	New Curtain Event
</button>

<!-- Modal -->
<div
  class="modal fade modal-xl"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
	<div
	  class="modal-dialog"
	>
		<div
		  class="modal-content"
		>
			<div
			  class="modal-header"
			>
				<h1
				  class="modal-title fs-5"
				  id="exampleModalLabel"
				>
					New Event
				</h1>
				<button type="button"
				  class="btn-close"
				  data-bs-dismiss="modal"
				  aria-label="Close"
				></button>
			</div>

			<div
			  class="modal-body"
			>
				<div
				  class="mb-3"
				>
					<div>
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon1">Event Position</span>

							<div
							  class="input-group-text"
							  style="width: 70%;"
							>
								<input
								  type="range"
								  class="form-range"
								  min="0"
								  max="100"
								  step="1"
								  value="0"
								  id="Curtain.NewEventModal-percentage_range-input"
								  onchange="Curtain.NewEventModal.update_percentage_input(this);"
								>
							</div>
							<input
							  type="number"
							  class="form-control"
							  min="0"
							  max="100"
							  step="1"
							  value="0"
							  id="Curtain.NewEventModal-percentage_input-input"
							  onchange="Curtain.NewEventModal.update_percentage_range(this);"
							>
						</div>
					</div>

					<div
					  class="input-group mb-3"
					>
						<span
						  class="input-group-text"
						>
							Select Time
						</span>
						<div
						  class="input-group-text"
						>
							<input
							  class="form-check-input mt-0"
							  type="checkbox"
							  value=""
							  onclick="Curtain.NewEventModal.toggle_datetime(this);"
							  aria-label="Checkbox for following text input"
							>
						</div>
						<span
						  class="input-group-text"
						>
							Date
						</span>
						<input
						  id="Curtain.NewEventModal-date-input"
						  type="date"
						  aria-label="Date"
						  class="form-control"
						  disabled
						>
						<span
						  class="input-group-text"
						>
							Time
						</span>
						<input
						  id="Curtain.NewEventModal-time-input"
						  type="text"
						  aria-label="Time"
						  class="form-control"
						  disabled
						>
					</div>
				</div>
			</div>

			<div
			  class="modal-footer"
			>
				<button
				  type="button"
				  class="btn btn-secondary"
				  data-bs-dismiss="modal"
				>
					Close
				</button>
				<button
				  type="button"
				  class="btn btn-primary"
				  onclick="//TODO"
				>
					Create Event
				</button>
			</div>
		</div>
	</div>
</div>

<script>
	Curtain.NewEventModal.Inputs.PERCENTAGE_RANGE = document.getElementById("Curtain.NewEventModal-percentage_range-input");
	Curtain.NewEventModal.Inputs.PERCENTAGE_INPUT = document.getElementById("Curtain.NewEventModal-percentage_input-input");
	Curtain.NewEventModal.Inputs.DATE = document.getElementById("Curtain.NewEventModal-date-input");
	Curtain.NewEventModal.Inputs.TIME = document.getElementById("Curtain.NewEventModal-time-input");


	Curtain.NewEventModal.toggle_datetime = function toggle_datetime(checkbox)
	/*
	SUMMARY: Enable and disables the date and time fields of the modal.
	PARAMS:  Takes the item that is toggling the date and time fields.
	*/
	{
		const disable_inputs = checkbox.checked === false;

		Curtain.NewEventModal.Inputs.DATE.disabled = disable_inputs;
		Curtain.NewEventModal.Inputs.TIME.disabled = disable_inputs;
	}


	Curtain.NewEventModal.update_percentage_range = function update_percentage_range(input)
	{
		Curtain.NewEventModal.Inputs.PERCENTAGE_INPUT.value = Math.floor(Curtain.NewEventModal.Inputs.PERCENTAGE_INPUT.value);
		if(Curtain.NewEventModal.Inputs.PERCENTAGE_INPUT.value > 100)
		{
			Curtain.NewEventModal.Inputs.PERCENTAGE_INPUT.value = 100;
		}
		if(Curtain.NewEventModal.Inputs.PERCENTAGE_INPUT.value < 0)
		{
			Curtain.NewEventModal.Inputs.PERCENTAGE_INPUT.value = 0;
		}
		Curtain.NewEventModal.Inputs.PERCENTAGE_RANGE.value = Curtain.NewEventModal.Inputs.PERCENTAGE_INPUT.value;
	}


	Curtain.NewEventModal.update_percentage_input = function update_percentage_input(range)
	{
		Curtain.NewEventModal.Inputs.PERCENTAGE_INPUT.value = Curtain.NewEventModal.Inputs.PERCENTAGE_RANGE.value;
	}


</script>
