{# [/ || /index] #}
{% extends "Dependencies/Wrapper.html" %}
{% block body %}

<title>{{ header.selected_curtain().name() }}</title>
<div style='width:100%; padding-top:32px; margin:auto;'>
	<table>
		<tr>
			<th>
				Time
			</th>
			<th>
				Position
			</th>
		</tr>
		{% for event in header.selected_curtain().CurtainEvents() %}
				<tr>
					<td>
						{{ header.selected_curtain().CurtainEvents()[event].time() }}
					</td>
					<td>
						{{ header.selected_curtain().CurtainEvents()[event].desired_position() }}
					</td>
				</tr>
		{% endfor %}
	</table>
</div>

<script>
	function change_slider(value)
	{
		document.getElementById("slider_input").value = value;
		set_slider_light(value);
	}

	// Update the current slider value (each time you drag the slider handle)
	document.getElementById("slider_input").oninput = function()
	{
		document.getElementById("desired_position_input").value = this.value;
	}
</script>

{% endblock %}