{# [/new] #}
{% extends "Dependencies/Wrapper.html" %}
{% block body %}

<title>Create Event for {{ header.selected_curtain().name() }}</title>
<div style='width:100%; padding-top:32px; margin:auto;'>
	<form method='post'>
		<input id='date_input' name='date_input' class='input mobile_input' type='date' value='{{ current_date }}'/>
		<input id='time_input' name='time_input' class='input mobile_input' type='time' value='{{ time_plus_hour }}'/>
		
		<input id='position_input' name='position_input'  class='input mobile_input' type='number' min='0' max='100' step='1'
		  value='{{ 100 - header.selected_curtain().current_position_percent_int() }}'
		  onchange='change_slider(this.value);' onkeyup='change_slider(this.value);'/>
		<input id='slider_input' value='{{ 100 - header.selected_curtain().current_position_percent_int() }}' type='range' 
		  min='0' max='100'/>
		
		<button name='create_button' class='button' style='display:block; margin:auto; margin-top:25px;'>
			Create
		</button>
	</form>
</div>

<script>
	function change_slider(value)
	{
		document.getElementById("slider_input").value = value;
	}


	// Update the current slider value (each time you drag the slider handle)
	document.getElementById("slider_input").oninput = function()
	{
		document.getElementById("position_input").value = this.value;
	}
</script>

{% endblock %}