{# [/new] #}
{% extends "Dependencies/Wrapper.html" %}
{% block body %}

<title>Logs for {{ header.selected_curtain().name() }}</title>
<div class='overflow-auto' style='width:100%; padding-top:32px; margin:auto;'>
	
</div>

<select class="select" onchange="select_log(this);">
		<option hidden disabled selected>SELECT</option>
	{% for log in logs %}
		<option value="{{ log }}">{{ log }}</option>
	{% endfor %}
</select>

<script>
	function select_log(element)
	{
		var log_filename = element.value;
		window.location.replace(`/advanced/log/${log_filename}`);
	}

</script>

{% endblock %}